body {
    background-color: lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#city-name-input {
    font-size: 28px;
    padding: 9px 12px;
    border-radius: 12px;
}

#weather-button {
    border: none;
    border-radius: 8px;
    font-size: 28px;
    margin-top: 25px;
    color: black;
    cursor: pointer;
}

#weather-button:hover {
    transform: scale(1.05);
    background-color: rgb(16, 182, 176);
    color: white;
}
#weather-button:focus {
    transform: scale(1.05);
    background-color: rgb(16, 182, 176);
    color: white;
}

#location-button {
    border: none;
    border-radius: 8px;
    font-size: 28px;
    margin-top: 25px;
    color: black;
    cursor: pointer;
}

#location-button:hover {
    transform: scale(1.05);
    background-color: rgb(16, 182, 176);
    color: white;
}
#location-button:focus {
    transform: scale(1.05);
    background-color: rgb(16, 182, 176);
    color: white;
}

#weather-output {
    color: black;
    text-align: center;
    width: 50%;
}

.checkboxes {
    margin-top: 15px;
    font-size: 16px;
}