
.card
{
    display:flex;
    align-items:center;
    flex-direction: column;
    flex: 1 1 300px;
    justify-content: center;
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card-content
{
    
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:center;
}
.card-header
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue;
}

.expand-btn
{
    height: 2rem;
    width:4rem;
    border-radius: 20px;
}
.expand-btn:hover
{
    border-color: blue;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}