@font-face 
{
    font-family: "Pokemon";
    src: url("fonts/pokemon/Pokemon\ Solid.ttf");
}

body {
    background-color: rgb(214, 176, 176);
}
p {
    font-family:"Pokemon";
    color: rgb(218, 94, 94);
}
.app {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:#f8f1e5;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }

.button {
    width: 100px;
    height: 100px;
    border-radius:50%;
}
.controls {
    display: inline-flex;
}
.poke-info {
    display: block;
    text-align: center;
}
