@font-face 
{
    font-family: "Pokemon";
    src: url("fonts/pokemon/Pokemon\ Solid.ttf");
}

body {
    background-color: rgb(214, 176, 176);
}
.poke-stuff {
    font-family:"Pokemon";
    font-size: 32px;
    color: rgb(218, 94, 94);
}

.poke-input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 15px;
    padding-top:15px;
    padding-bottom: 15px;
    background-color:#f8f1e5;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

.button {
    width: 200px;
    height: 200px;
    border-radius:50%;
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poke-info {
    display: block;
    text-align: center;
}

#js-poke-sprite {
    height: 25%;
    width: 25%;
}

.poke-guess {
    display: inline-flex;
    gap: 25px;
}
