.skills-grid { 
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    max-width: 750px;
    margin: 0 auto;
    gap:50px;
}
.photo-card { height: 200px;}
.featured { grid-column: span 2; }

.gallery-header {
    grid-area: header;
}
.gallery-nav {
    grid-area: nav;
}

.gallery-sidebar {
    grid-area: sidebar;
}

.skill-icon {
    border-radius:50px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
}
.skill-icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popup {

    display: none;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, 0.5);

}